*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgba(123, 231, 217, 0.418);
    font-family: Arial, sans-serif;
    margin: 20px;
}
h1{
    text-align: center;
    color: rgb(34, 34, 36);
} 
#text{
    
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
}
input[type="button"],
input[type="reset"] {
    padding: 10px ;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

input[type="button"]:hover,
        input[type="reset"]:hover {
            background-color: #45a049;
        }
        
        form {
            max-width: 600px;
            margin: 0 auto;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td {
            padding: 10px;
        }

   
        input[type="radio"] {
            margin-right: 5px;
        }

        select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

     